* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.comics-box {
  background-color: #1c1c1c;
  padding: 30px 0;
}
.comics-box .comics-section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.comics-box .comics-section .comic-card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}
.comics-box .comics-section .comic-card .comic-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  overflow: hidden;
  margin-bottom: 10px;
}
.comics-box .comics-section .comic-card h5 {
  text-transform: uppercase;
  color: white;
}

.jumbotron {
  background-image: url(../images/jumbotron.jpg);
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-line {
  background-color: #0282f9;
  padding: 20px;
}
.blue-line section {
  width: 80%;
  margin: 0 auto;
}
.blue-line section ul {
  display: flex;
  justify-content: center;
}
.blue-line section ul li {
  margin: 20px;
  width: calc(20% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-line section ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
.blue-line section ul li p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

header {
  height: 120px;
}
header .header-top {
  height: 20%;
  background-color: #0282f9;
}
header .header-top div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}
header .header-top div span {
  margin-right: 50px;
}
header .header-top div select {
  border: none;
  background-color: #0282f9;
  outline: none;
  text-transform: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
header .header-bottom {
  height: 90%;
}
header .header-bottom .container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom .container .logo-img {
  width: 5%;
}
header .header-bottom .container nav ul {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  color: #464646;
}
header .header-bottom .container nav ul li {
  margin: 0 15px;
  line-height: 80px;
  border-bottom: 5px solid transparent;
}
header .header-bottom .container nav ul li a {
  color: inherit;
  text-decoration: none;
}
header .header-bottom .container nav ul li.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
header .header-bottom .container nav ul li:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
header .header-bottom .container .search-box {
  width: 10%;
}
header .header-bottom .container .search-box input {
  padding-bottom: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: right;
  border-bottom: 2px solid #0282f9;
}
header .header-bottom .container .search-box input::-moz-placeholder {
  color: #464646;
}
header .header-bottom .container .search-box input::placeholder {
  color: #464646;
}

footer {
  height: 600px;
  background-color: #303030;
}
footer .footer-top {
  height: 500px;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
footer .footer-top .col-text {
  width: 55%;
}
footer .footer-top .col-logo {
  width: 35%;
}
footer .footer-bottom {
  height: 100px;
}
footer .footer-bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .container .btn-box {
  height: 100%;
  display: flex;
  align-items: center;
}
footer .footer-bottom .container .btn-box button {
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid #0282f9;
  font-size: 0.8rem;
  font-weight: 500;
}
footer .footer-bottom .container .btn-box button:hover {
  background-color: #0282f9;
  border-color: white;
  color: black;
}
footer .footer-bottom .container ul {
  height: 100%;
  display: flex;
  align-items: center;
}
footer .footer-bottom .container ul h2 {
  margin-right: 20px;
  text-transform: uppercase;
  color: #0282f9;
  font-size: 1rem;
}
footer .footer-bottom .container ul li {
  width: 25px;
  margin: 5px;
}