.comic-section {
    height: 80vh;
    .blue-line {
        height: 8vh;
    }

    .overview-box {

    }

    .info-box {
        background-color: #f0f0f0;
        height: 40vh;
        border-top: 2px solid #e2e2e2;
        margin-top: 10px;
    }
}