.comic-section {
    // height: 80vh;
    .blue-line {
        height: 8vh;
        position: relative;
        img {
            width: 140px;
            position: absolute;
            bottom: 20px;
        }
    }

    .overview-box {
        padding: 50px 0;
        .container {
            display: flex;
            justify-content: space-between;
            .col-left {
                width: 60%;
                h2 {
                    text-transform: uppercase;
                    color: #00375f;
                    margin-bottom: 20px;
                }
                .price-box {
                    height: 50px;
                    background-color: #55ba59;
                    margin-bottom: 20px;
                    color: #b9fd9b;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid black;
                    font-weight: 600;
                    font-size: 1rem;
                    div:first-child {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 0 30px;
                        p {
                            text-transform: uppercase;
                        }
                    }
                    div:last-child {
                        border-left: 1px solid black;
                        height: 100%;
                        padding: 0 30px;
                        display: flex;
                        align-items: center;
                    }
                    select {
                        border: none;
                        outline: none;
                        background-color: inherit;
                        color: white;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    span {
                        color: white;
                    }
                }
                p.description {
                    line-height: 25px;
                    font-size: .8rem;
                    color: rgba(23, 23, 23, 0.811);
                    font-weight: 600;
                }
            }
            .col-right {
                width: 30%;
                h4 {
                    text-align: right;
                    text-transform: uppercase;
                    color: rgba(40, 42, 53, 0.776);
                    margin-bottom: 5px;
                }
            }
        }
    }

    .info-box {
        background-color: #f0f0f0;
        border-top: 2px solid #e2e2e2;
        margin-top: 10px;
        padding: 40px 0;
        .container {
            display: flex;
            justify-content: space-between;
            h3 {
                padding-bottom: 25px;
                border-bottom: 2px solid #e2e2e2;
                color: #00375f;
            }
            .col-left {
                width: 48%;
                div {
                    display: flex;
                    justify-content: space-between;
                    font-size: .8rem;
                    padding: 20px 0;
                    color: #21a9dc;
                    font-weight: 600;
                    border-bottom: 2px solid #e2e2e2;
                    span {
                        font-size: 1rem;
                        min-width: 40%;
                        color: #00375f;
                    }
                }
            }
            .col-right{
                width: 48%;
                div {
                    display: flex;
                    line-height: 2.5rem;
                    border-bottom: 2px solid #e2e2e2;
                    color: rgba(23, 23, 23, 0.811);
                    font-size: .9rem;
                    font-weight: 600;
                    p {
                        min-width: 40%;
                        color:#00375f;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}